* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* header-style */
.header {
    background: url(../images/banner/banner.png);
    width: 100%;
    height: 100vh;
}

.header-container {
    padding: 216px 230px 0 845px;
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #151414;
    margin-bottom: 24px;
}

.header-description {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 32px;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    padding: 20px 25px;
    border: 0;
}

/* main-section */
.main-section {
    max-width: 1140px;
    margin: 0px auto;
}

.failures-container {
    display: flex;
    gap: 87px;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

.failures-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 24px;
}

.failures-brif {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}

/* .failures-check-box .fa-solid{
    color: rgba(68, 186, 68, 0.712); */
/* } */
.failures-check-box .fa-solid {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.icon {
    height: 16px;
    width: 16px;
    margin-right: 12px;
}

.failures-check-box {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 8px;
}

/* my-plans-styles */
.plans-title {
    text-align: center;
    margin-top: 120px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.plans-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.plans-sub-container {
    text-align: center;
}

.plans-sub-container-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-top: 24px;
}

.plans-sub-container-sub-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
    margin-top: 16px;
}

/* image-section-style */
.image-section {
    margin-top: 127px;
    background: linear-gradient(rgba(237, 91, 34, 0.723), rgba(220, 138, 97, 0)), url(../images/watch.png);
    height: 300px;
}

.image-section-container {
    padding: 60px 617px 60px 64px;
}

.image-section-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

.btn-secendary {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 21px 36px;
    border: 0;
    margin-top: 24px;
}

/* what-i-do-style */
.what-i-do-section {
    text-align: center;
    margin-top: 130px;
}

.what-do-description {
    margin-top: 24px;
    padding: 0 150px 0;
    text-align: center;
}

.skils-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 24px;
}

.skil {
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.skil-title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #181818;
}

.skil-description {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575
}

/* footer-style */
.footer {
    margin-top: 130px;
    background-color: #151414;
    padding: 130px 195px 130px 195px;
    display: flex;
    gap: 331px;
}

.left-s-footer-heading {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;

}

.left-s-footer-description {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 16px;
}

.contact-info {
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 24px;
}

.mr {
    margin-top: 16px !important;
}

.footer-social {
    margin-top: 32px;
    display: flex;
    gap: 17px;
}




.footer-s-right-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;

}

.footer-s-right input {
    padding: 21px 0 21px 21px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 31px;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;

}